doctype html
html(lang='en')
	head
		// Required meta tags
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

		// Bootstrap CSS
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')

		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
		link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

		//Background Look
		link(href='/stylesheets/background.css', rel='stylesheet')
		link(href='/stylesheets/slider.css', rel='stylesheet')
		link(href='/stylesheets/results_background.css', rel='stylesheet')

		title Peersity


	body
		nav.navbar.sticky-top.navbar-expand-md.bg-dark.navbar-dark
				a.navbar-brand(href='/', class="w3-lobster") Peersity
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarNavDropdown.navbar-collapse.collapse
					div.mr-auto(style="width: 300px;")
						ul.navbar-nav
							li
								a.nav-link(href='/',style="padding-left: 20px") Home
							li
								a.nav-link(href='/overview',style="padding-left: 20px") Overview
							if user
								if user.isAdmin
									li
										a.nav-link(href='/admin',style="padding-left: 20px") Admin
							if !user
								li
									a.nav-link(href='/users/register',style="padding-left: 20px") Register
					ul.navbar-nav
						li
							a.fa.fa-instagram(href='https://www.instagram.com/peersity_/')
						li
							a.fa.fa-twitter(href='https://twitter.com/peersity')

		div.shadow-lg.p-3.mb-5.rounded(id="popup", style = "display:none;")
			.card.text-center
				.card-header(style="background-color: lime; font-size: 30px; font-weight: 50px")
						| You have been matched &#10071
				.card-body(style="color: black;")
					h5.card-title Math 1554
					p.card-text Your Question: What does it mean for something to be row equivalent?
				.card-footer
					a.btn.btn-primary(id = 'enter', href='/chat', style="background-color: green; border-color: green; text-align: center", class="w3-lobster") Enter



	div(class= "the_results", style = "text-align: center;")
				table.table.table-striped.table-dark
					thead
						tr
							th(scope='col')
							th(scope='col') Tutor
							th(scope='col') Email
					tbody
						- var n = 0
						- var x = 0
						for item in json
								tr(id = 'row_#{x++}')
									td
										button.btn.btn-primary.request_button_attributes(class = 'sendRequest', id='#{n++}' type = 'submit', value = '#{item.room}', name = '#{item.username}', data-toggle='modal', data-target='#exampleModal') Request
									td #{item.name}
									td #{item.email}
	//Tutor Message Request Popup
	#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5
						#exampleModalLabel.modal-title You have temporarily reserved this tutor. Please describe what you need help with:
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					form
						.form-group
							label.col-form-label(for='message-text') Message:
							textarea(id='description' class='form-control')
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button.btn.btn-primary(onclick="location.href = 'http://localhost:6969/home';", id='confirm', type='submit') Confirm Request




	script(src="/socket.io/socket.io.js")
	script.
		var socket = io.connect('http://localhost:6969');
		console.log("The user course is" + '#{user.courseHelpReqst}')
		function activateNotification() {
			document.getElementById('popup').style.display = "block";
		}
		var roomNumber;
		var tutorUserName;
		var val;
		var tutorObj;
		var description;
		var courseHelpReqst = '#{user.courseHelpReqst}';
		socket.emit('subscribe', {
			room: "queue_room",
			name: '#{user.name}'
		})
		socket.on('dequeue', function(data) {
			$('#row_' + data.id).hide()
		})
		//Select tutor and send them a message
		$(document).ready(function() {
			$('.sendRequest').each(function() {
				$(this).click(function() {
					roomNumber = $(this).attr('value');
					tutorUserName = $(this).attr('name');
					val = $(this).attr('id');
					socket.emit('dequeue', {
						id: val
					})
					tutorObj = {
						tutorUserName: tutorUserName
					}
					$.ajax({
						url: "http://localhost:6969/results/reserve",
						type: "POST",
						data: JSON.stringify(tutorObj),
						contentType: "application/json",
						success: function() {
							console.log('The AJAX is working as intended')
							console.log("The description is " + description)
						},
						error: function() {
							console.log("CMON! nabbit, ya gotta issue with ur ajax request")
						}
					});
				});
			});
			$("#confirm").click(function() {
				description = $("#description").val()
				courseHelpReqst = '#{user.courseHelpReqst}'
				tutorObj = {
					room: roomNumber,
					tutorUserName: tutorUserName,
					description: description,
					courseHelpReqst: courseHelpReqst
				}

				socket.emit('subscribe', {
					room: roomNumber,
					name: '#{user.name}' + 'TARGET'
				})
				socket.emit('notify', {
					room: roomNumber,
					message: 'You are requesting a tutor'
				})
				$.ajax({
					url: "http://localhost:6969/results/",
					type: "POST",
					data: JSON.stringify(tutorObj),
					contentType: "application/json",
					success: function() {
						socket.on('notify', function(data) {
							//activateNotification()
						})
						console.log('The AJAX is working as intended')
						console.log("The description is " + description)
					},
					error: function() {
						console.log("CMON! nabbit, ya gotta issue with ur ajax request")
					}
				});
			})
		})
		//When tutoree clicks "enter" they will go to the chat page(logic @button creation) and then he/she will
		//remove that 'waiting_screen' for the tutor so that both users can chat.

		var enter_button = document.getElementById('enter');
		enter_button.addEventListener("click", function (event) {
			socket.emit('enterChat', {
				room: '#{user.room}'
			})
		})
	div.middleBottomDiv
		form(method='get')
			a(href='/findatutor')
				button.middleBottomResults(type='button') Return to Find a Tutor